<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Create Post</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Update Post</h1>
            </div>
            <div class="card-body">
                <form th:action="@{/post/{id}/update(id=${updatePostRequest.postId})}" method="POST" th:object="${updatePostRequest}" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="Post Title">
                        <div th:if="${#fields.hasErrors('title')}" class="text-danger">
                            <div th:each="error : ${#fields.errors('title')}">
                                * <span th:text="${error}"></span><br>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">Content</label>
                        <textarea class="form-control" th:field="*{content}" id="content"
                                  placeholder="Write your content here" rows="5"></textarea>
                        <div th:if="${#fields.hasErrors('content')}" class="text-danger">
                            <div th:each="error : ${#fields.errors('content')}">
                                * <span th:text="${error}"></span><br>
                            </div>
                        </div>
                    </div>
                    <div th:if="${imageUrl != null}">
                        <label class="form-label">Current Image</label><br>
                        <img th:src="@{/store/post/{imageUrl}(imageUrl=${imageUrl})}" alt="Post Image" class="img-fluid" width="300"><br><br>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">Upload New File</label>
                        <input type="file" class="form-control" th:field="*{file}" id="file"
                               accept="image/png, image/jpeg, image/jpg, image/gif">
                    </div>
                    <div class="mb-3">
                        <label for="tags" class="form-label">Tags</label>
                        <select class="form-select" id="tags" name="tags" multiple="multiple">
                            <option th:each="tag : ${availableTags}"
                                    th:value="${tag}"
                                    th:text="${tag}"
                                    th:selected="${#lists.contains(updatePostRequest.tags, tag)}">
                            </option>
                        </select>
                        <div th:if="${#fields.hasErrors('tags')}" class="text-danger mt-2">
                            <div th:each="error : ${#fields.errors('tags')}">
                                * <span th:text="${error}"></span><br>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Update Post</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        $('#tags').select2({
            tags: true,
            placeholder: 'Select or create tags',
            width: '100%'
        });
    });
</script>

</body>
</html>
